.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    font-family: Roboto;
    background-color: #f7f8fb;
}

.loginWrapper {
    height: 90%;
    width: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.loginLogo {
    color: red;
    font-weight: bolder;
    font-size: 300%;
}

.loginDesc {
    font-size: 120%;
}

.loginBox {

    height: 70%;
    /* width: 90%; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginInput {
    height: 3rem;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginBtn {
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 71, 71);
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: red;
}

.loginForgot {
    text-align: center;
    color: #1171f0;
    text-decoration: none;
}

.newText {
    text-align: center;
    margin-bottom: -15px;
}

.hr {
    margin: 0px;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.googleSignIn {
    width: auto;
    border-radius: 14px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid grey !important;
}


.signUpBtn {
    margin: 1rem;
    color: #1171f0;
}