.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Roboto;
    background-color: #f7f8fb;
}

.loginWrapper {
    height: 80%;
    width: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.loginLogo {
    color: red;
    font-weight: bolder;
    font-size: 300%;
}

.loginDesc {
    font-size: 120%;
}

.loginBox {

    height: 70%;
    /* width: 90%; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;

    box-shadow: 0 0 1px rgba(12, 26, 75, 24%), 0 3px 8px -1px rgba(50, 50, 71, 5%);
}

.loginInput {
    height: 3rem;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginBtn {
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 71, 71);
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: red;
}

.loginForgot {
    text-align: center;
    color: #1171f0;
    text-decoration: none;
}

.newText {
    text-align: center;
    margin-bottom: -15px;
}

.hr {
    margin: 0px;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.googleBtn, .fbBtn, .githubBtn {
    border: none;
    border-radius: 15px;
    width: 25%;
    height: 2.2rem;
}

.googleBtn {
    background-color: rgb(0, 156, 133);
    color: white;
}


.githubBtn {
    background-color: rgb(41, 41, 41);
    color: white;
}

.fbBtn {
    background-color: #3B5998;
    color: white;
}

.googleBtn:hover {
    background-color: rgb(0, 123, 104);
    cursor: pointer;
}

.githubBtn:hover {
    background-color: black;
    cursor: pointer;
}

.fbBtn:hover{
    background-color: #2e4b8a;
    cursor: pointer;
}

.signUpBtn {
    margin: 1rem;
}