.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Roboto;
    background-color: #f7f8fb;
}

.signupWrapper {
    height: 90%;
    width: 80%;
    display: flex;
}


.signupLeft,
.signupRight {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.signupLogo {
    color: red;
    font-weight: bolder;
    font-size: 300%;
}

.signupDesc {
    font-size: 120%;
}

.signupBox {

    height: 70%;
    /* width: 90%; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;

    box-shadow: 0 0 1px rgba(12, 26, 75, 24%), 0 3px 8px -1px rgba(50, 50, 71, 5%);
}

.signupInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.signupInput:focus {
    outline: none;
}

.signupBtn {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 71, 71);
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.signupBtn:hover {
    background-color: red;
}

.signupForgot {
    text-align: center;
    color: #1171f0;
}

.newText {
    text-align: center;
}

.hr {
    margin: 0px;
}

.loginBtn {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #43B62A;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.loginBtn:hover {
    background-color: #3fae26;
}